.header {
    font-size: 22px; 
    color: #1c84c6; 
    font-family: Oswald; 
    font-weight: bold;
}

.internship {
	font-size: 18px; 
    color: #1ab394; 
    font-family: Oswald; 
    font-weight: bold;
}

.subHeading {
    font-size: 16px; 
    font-family: Oswald; 
	color: #1c84c6;
}

.description {
	font-family: Ubuntu;
	font-size: 16px; 
	color: #1a1a1a;
    padding-bottom : 5em;
}

.indent {
	padding-left: 2em;
	display: block;
}

.centeredForm {
	width: 25%;
	margin: 0 auto;
}
 
label {
    display:inline-block;
    width:100px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: #ccc;
}

.responsiveCal{
	position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
 
.responsiveCal iframe {
	position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

/* Styling for the external image links */ 
.mail {
	display:block;
	float: right;
	margin-top: 7px;
	height: 34px;
	width: 50px;
	background: url('../resources/mail.png') center top no-repeat;
}

.mail:hover {
	display:block;
	background: url('../resources/mail2.png') center top no-repeat;
}

.linkedin {
	display:block;
	height: 50px;
	width: 50px;
	background: url('../resources/linked.png') center top no-repeat;
}

.linkedin:hover {
	display:block;
	background: url('../resources/linked2.png') center top no-repeat;
}

.git {
	display:block;
	float: right;
	height: 50px;
	width: 50px;
	background: url('../resources/git.png') center top no-repeat;
}

.git:hover {
	display:block;
	background: url('../resources/git2.png') center top no-repeat;
}
