<div class="page">

  <!-- LEFT -->
  <div>
    <div class="card-container" style="display: flex; flex-direction: column; align-items: center;">
      <div>
        <img src="assets/images/personal.jpg" alt="Avatar" class="avatar">
      </div>

      <div class="header-link-section">
        <a mat-raised-button href="https://www.linkedin.com/in/tdortiz" title="LinkedIn" class="circle-link">
          <mat-icon>people</mat-icon>
        </a>
        <a mat-raised-button href="assets/Thomas_Ortiz_Resume.pdf" title="Resume" class="circle-link">
          <mat-icon>description</mat-icon>
        </a>
        <a mat-raised-button href="https://github.com/Tdortiz" title="Github" class="circle-link">
          <mat-icon>code</mat-icon>
        </a>
        <a mat-raised-button href="mailto:thomasortiz95@gmail.com" title="Email" class="circle-link">
          <mat-icon>email</mat-icon>
        </a>
      </div>
    </div>

    <div class="card-container">
      <mat-card>
        <mat-card-title>I am a...</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>Full-Stack Software Engineer at Blackbaud</mat-list-item>
            <mat-list-item>NC State Alumnus</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <!-- RIGHT -->
  <div>
    <div class="card-container">
      <mat-card>
        <mat-card-title>Contact</mat-card-title>
        <mat-card-content>
          <div>
            Feel free to contact me if you have any questions!
          </div>

          <mat-card-actions>
            <a mat-button href="mailto:thomasortiz95@gmailcom">thomasortiz95@gmail.com</a>
            <a mat-button href="https://www.linkedin.com/in/tdortiz" target="_blank">LinkedIn</a>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card>
        <mat-card-title>Organizations</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>Computer Science Ambassador</mat-list-item>
            <mat-list-item>Pack Promise Program</mat-list-item>
            <mat-list-item>WICS</mat-list-item>
            <mat-list-item>Stars</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
