.grid-container {
  margin: 20px;
}

.project-panel {
  margin-bottom: 15px;
}

.project-content-container {
  display: flex;
  flex-direction: column;
}

.project-content-section {
  padding-bottom: 15px;
}
