<!DOCTYPE html>
<html charset="utf-8">

<body ng-controller="baseCtrl">
    <form class="description">
        <label>Decimal(10):</label> 
        <input 
            type="text" 
            id='dec' 
            pattern="[0-9]*"   
            title="Decimal is only numbers"
            autocomplete="off" 
            data-ng-model="locals.dec" 
            ng-change="locals.decChange()"><br>
       
        <label>Binary(2) :</label>
        <input 
            type="text"
            id='bin'
            pattern="[0-1]*"   
            title="Binary is only in 0s and 1s"
            autocomplete="off" 
            data-ng-model="locals.bin" 
            ng-change="locals.binChange()"><br>
        
        <label>Hex(16):</label>
        <input 
            type="text" 
            id='hex' autocomplete="off" 
            placeholder="0x" 
            pattern="0[xX][0-9A-Fa-f]*"   
            title="Hex is numbers and A-F"
            data-ng-model="locals.hex" 
            ng-change="locals.hexChange()"><br>
        
        <label>Octal(8) :</label>
        <input 
            type="text" 
            id='oct' 
            pattern="[0-7]*"   
            title="Octal is only 0-7"
            autocomplete="off" 
            data-ng-model="locals.oct" 
            ng-change="locals.octChange()"><br>
        
        <button type="button" class="btn btn-primary" ng-click="locals.resetFields()">Reset</button>
    </form>
</body>

</html>
