<!DOCTYPE html>
<html charset="utf-8">

<body>
	<span class="header">My Schedule</span><br /><br />
    <div class="hidden-xs hidden-sm responsiveCal ">
    <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=tdortiz%40ncsu.edu&amp;color=%2329527A&amp;ctz=America%2FNew_York" 
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
    </div>

    <br /><br />
    <div class="visible-xs visible-sm">
        <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=tdortiz%40ncsu.edu&amp;color=%2329527A&amp;ctz=America%2FNew_York" 
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
        </iframe>
    </div>
</body>
</html>