<!DOCTYPE html>
<html charset="utf-8">

<body>
    <!-- Navigation Header -->
    <bb-navbar>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li id="homeNavButton"><a href="#/home">Home</a></li>
                <li id="projectsNavButton"><a href="#/projects">Projects</a></li>
                <li id="calandarNavButton"><a href="#/calandar">Calendar</a></li>
                <li id="resumeNavButton"><a href="#/resume">Resume</a></li>
                <li id="baseConvertNavButton"><a href="#/baseConverter">Base Converter</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- External Links to Mail/Github/LinkedIn -->
                <button type="button" style="background:transparent;border:0;height:50px;padding:5px;">  <a href="https://www.linkedin.com/in/tdortiz" target="_blank" class="linkedin"></a> </button>
                <button type="button" style="background:transparent;border:0;height:50px;padding:5px;">  <a href="https://github.com/Tdortiz"          target="_blank" class="git"></a>      </button>
                <button type="button" style="background:transparent;border:0;height:50px;padding:5px;">  <a href="mailto:tdortiz@ncsu.edu"                             class="mail"></a>     </button><br />
            </ul>
        </div>
    </bb-navbar>

    <!-- Summary Section -->
    <bb-page-summary>
        <bb-page-summary-image>
            <bb-avatar
                bb-avatar-src="'resources/personal.jpg'"
                bb-avatar-name="'Thomas Ortiz'">
            </bb-avatar>
        </bb-page-summary-image>
        <bb-page-summary-title>Thomas Ortiz</bb-page-summary-title>
        <bb-page-summary-subtitle>Computer Science - Fall 2017</bb-page-summary-subtitle>
        <bb-page-summary-content>NCSU Computer Science Ambassador</bb-page-summary-content>
    </bb-page-summary>
    <hr style="color: #1a1a1a"/> <!-- Horizontal line -->   
</body>

</html>