<!DOCTYPE html>
<html charset="utf-8">

<body>
    <!-- Navigation Header -->
    <bb-navbar>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li id="homeNavButton"><a href="#/home">Home</a></li>
                <li id="projectsNavButton"><a href="#/projects">Projects</a></li>
                <li id="calandarNavButton"><a href="#/calandar">Calandar</a></li>
                <li id="resumeNavButton"><a href="#/resume">Resume</a></li>
                <li id="baseConvertNavButton"><a href="#/baseConverter">Base Converter</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            
            </ul>
        </div>
    </bb-navbar>

    <!-- Summary Section -->
    <bb-page-summary>
        <bb-page-summary-image>
            <bb-avatar
                bb-avatar-src="'resources/personal.jpg'"
                bb-avatar-name="'Thomas Ortiz'">
            </bb-avatar>
        </bb-page-summary-image>
        <bb-page-summary-title>Thomas Ortiz</bb-page-summary-title>
        <bb-page-summary-subtitle>Computer Science - Fall 2017</bb-page-summary-subtitle>
        <bb-page-summary-content>NCSU Computer Science Ambassador</bb-page-summary-content>
    </bb-page-summary>
    <hr style="color: #1a1a1a"/> <!-- Horizontal line -->   
</body>

</html>