<!DOCTYPE html>
<html charset="utf-8">

<body>
<p class="description">
    <span class="header">About Me</span><br />
    <span class="indent">
        I am currently a senior in computer science at North Carolina State University and I will be graduating in Fall 2017.
        I was previously a teaching assistant for CSC 116 (Introduction to Java) working under Dr. Schmidt and Ms. ToniAnn Marini.
        I also worked as a Computer Science Research Assistant under Dr. Schmidt and Dr. Heckman where we researched on how we could improve
        teaching CSC 116 and how to gamify both CSC 116 and CSC 216
        This past summer I was a Software Engineer Intern at Blackbaud. 
        <br /><br />

        Feel free to contact me if you have any questions! You can reach me by pressing the email button below, linking you to my email
        - <a href="mailto:tdortiz@ncsu.edu">tdortiz@ncsu.edu</a>, or by clicking the <a href="https://www.linkedin.com/in/tdortiz" target="_blank">LinkedIn</a> 
        button and contacting me on there.
    </span>
    <br />


    <span class="header">Strengths and Skills</span><br />
    <span class="indent">
        <em>Languages:</em> Java, C#, Cucumber, SQL, C, C++, Visual Basic, JavaScript, AngularJS, jQuery, JSF, HTML, CSS, R <br />
        <em>Platforms:</em> Windows, Linux, Unix <br />
        <em>Tools:</em> Eclipse, Visual Studio, Selenium, Git, TFS, SQL Server, Android Studio, Rhino
    </span>
    <br />
        
    <span class="header">Internships</span><br />
        <span class="indent">
            <em class="internship">Blackbaud - Summer 2016</em><br />
                <span class="indent">
                During my internship at Blackbaud, I developed on Blackbaud's leading product - <b>Financial Edge 7</b>.
                I added data analytics by implementing Mixpanel into FE7 with Visual Basic 6 in order to understand
                how customers utilize FE7. After implementing data analytics into FE7 my implementation was adopted by 
                two other leading products at Blackbaud - <b>Raiser's Edge</b> and <b>Education Edge</b>.<br /><br />

                After finishing my main summer project I worked on a team of 8 in an agile envrionment where we developed on
                Financial Edge NXT where I focused on non-profit intelligence and financial data analysis.<br /><br />

                During this internship I learned and solidified VB6, C#, SQL, javascript, jquery, angular, and other web technologies.
                </span>
        </span>
        <br />

    <span class="header">Organizations</span><br />
    <span class="indent">
        Computer Science Ambassador<br />
        Pack Promise Program
    </span>
    <br />

    <span class="header">Courses</span><br />
    <span class="indent">
        <em>Current</em><br />
        <span class="indent">
            Senior Design<br />
            Software Security<br />
            Building Game Ai<br />
        </span>
    </span>
    <br />

    <span class="indent">
        <em>Previous</em><br />
        <span class="indent">
            Java I<br />
            Java II<br />
            C and Software Tools<br />
            Data Structures and Algorithms<br />
            Discrete Math<br />
            Automata, Grammars and Computability<br />
            Foundations of Interactive Game Design<br />
            Operating Systems<br />
            Assembly<br />
            Software Engineering<br />
            Software Security<br />
            Human-Computer Interaction<br />
        </span>
    </span>
    <br />
</p>
</body>
</html>
