<!DOCTYPE html>
<html charset="utf-8">

<body>
    <p id="about">
        <span class="header">About Me</span><br />
        I am currently a junior in computer science at North Carolina State University.
        I was previously a teaching assistant for CSC 116 (Introduction to Java) working under Dr. Schmidt and Ms. ToniAnn Marini.
        I also worked as a Computer Science Research Assistant under Dr. Schmidt and Dr. Heckman where we researched on how we could improve
        teaching CSC 116 and how to gamify both CSC 116 and CSC 216
        This past summer I was a Software Engineer Intern at Blackbaud. <br />
        <br />
        Feel free to contact me if you have any questions! You can reach me by pressing the email button below, linking you to my email
        - <a href="mailto:tdortiz@ncsu.edu">tdortiz@ncsu.edu</a>, or by clicking the <a href="https://www.linkedin.com/in/tdortiz" target="_blank">LinkedIn</a> 
        button and contacting me on there.<br /><br />

        <span class="header">Strengths and Skills</span><br />
            <em>Languages:</em> Java, C#, C, C++, Visual Basic, Javascript, Angularjs, jquery, SQL, HTML, CSS, R <br />
            <em>Platforms:</em> Windows, Linux, Unix <br />
            <em>Tools:</em> Eclipse, Visual Studio, Git, SQL Server, TFS, Android Studio, Rhino <br /><br />

        <span class="header">Internships</span><br />
            <em   class="header">Blackbaud - Summer 2016</em><br />
            During my internship at Blackbaud, I developed on Blackbaud's leading product - <b>Financial Edge 7</b>.
            I added data analytics by implementing Mixpanel into FE7 with Visual Basic 6 in order to understand
            how customers utilize FE7. <br /><br />
            After implementing data analytics into FE7 my implementation was adopted by two other leading products at Blackbaud - <b>Raiser's Edge</b> and <b>Education Edge</b>.<br /><br />

            I also developed for Financial Edge NXT where I focused on non-profit intelligence and financial data analysis.<br /><br />

            During this internship I learned and solidified VB6, C#, SQL, javascript, jquery, angular, and other web technologies.<br />
    </p>

    <p id="orgo">
        <span class="header">Organizations</span><br />
        &nbsp;&#10132;&nbsp;Computer Science Ambassador<br />
        &nbsp;&#10132;&nbsp;Pack Promise Program
    </p>

    <p id="orgo">
        <span class="header">Courses</span><br />
        <em>Current</em><br />
        &nbsp;&#10132;&nbsp;Software Engineering<br />
        &nbsp;&#10132;&nbsp;Database Management Systems<br />
        &nbsp;&#10132;&nbsp;Human-Computer Interaction<br />

        <br />

        <em>Previous</em><br />
        &nbsp;&#10132;&nbsp;Java I<br />
        &nbsp;&#10132;&nbsp;Java II<br />
        &nbsp;&#10132;&nbsp;C and Software Tools<br />
        &nbsp;&#10132;&nbsp;Data Structures and Algorithms<br />
        &nbsp;&#10132;&nbsp;Discrete Math<br />
        &nbsp;&#10132;&nbsp;Automata, Grammars and Computability<br />
        &nbsp;&#10132;&nbsp;Foundations of Interactive Game Design<br />
        &nbsp;&#10132;&nbsp;Operating Systems<br />
        &nbsp;&#10132;&nbsp;Assembly<br />
    </p>

</body>
</html>
