<!DOCTYPE html>
<html charset="utf-8">

<body>
<p class="description">
    <b class="header">iTrust - Semester Winner</b><br />
    <em class="subHeading">NCSU - CSC 326 - Software Engineering Class. Fall 2016</em><br />
    <span class="indent">
        Overview:<br />
        Over the course of a semester in Software Engineerings (CSC 326)  our team performed improvements on iTrust - a program 
        that has been worked on by previous CSC students at NCSU over the past decade. Our team competed with other teams in the 
        class where we all completed the same requirements in order to create the best iTrust project for that semester. At the 
        end of the semester our project was selected as best in the class after we presented our project in front of both our lab and our entire class.
        <br /><br />
        Goal:<br />
        Use JSF (Java Server Framework) to implement five additional use cases, refactor logging, secure SQL connections 
        with prepared statements, implement mocking through Mockito for proper unit testing, and create a docker image. 
        <br /><br />
        Process: <br />
        The process involved 5 iterations where our team worked in an agile environment. We would meet twice a week
        and have stand up meetings to describe where we were on the project and what help, if any, was needed. We 
        managed the project through GitHub where we decided to utiulze merge requests to code review our merges 
        and GitHub issues that we could close as we finished our assignments.
        <br /><br />
        Team:<br />
        Michael Mackrell - QA Leader, Documentation Leader<br />
        Mitch Rees-Jones - Lead Designer & Architect<br />
        Nathan Miles - Back-end Development Leader<br />
        Thomas Ortiz - Front-end Development leader<br />
        James Miao - Team Leader, Planning Leader<br />
        <br />
        Learning Outcomes:<br />
        Agile Development, Git ,Planning, Teamwork, Web Development, Object Oriented Design, SQL
    </span>   
    <br />

    <b class="header"><a href="https://github.com/Tdortiz/Door-To-More" target="_blank">Door To More</a></b><br />
    <em class="subHeading">Off The Grid : Blackbaud. Summer 2016 - finalist</em><br />
    <span class="indent">
        Door To More was created in 24 hours to benefit advocacy organizations that would employ individuals to canvass
        door to door or on the street to raise awareness, soulcit donations, and add to in-house files. The purpose of the
        app is to create a streamulned interface where canvassers can quickly create new constituents and document the interaction
        in a way that advocacy organizations can aggregate or target these constituents in the future.
    </span>   
    <br />
    
    <b class="header"><a href="https://github.com/Tdortiz/Tdortiz.github.io" target="_blank">Personal Website</a></b><br />
    <em class="subHeading">Created by Thomas Ortiz. Summer 2016</em><br />
    <span class="indent">
        As I was learning html, css, javascript, angularjs, and other web technologies during my internship at Blackbaud I decided to
        create this website to souldify what I was using. This website is intended to give a quick overview of my resume in a web format
        and provide ulnks to other personal websites while having a friendly UI that can be accessed on phone or pc.Through this websites
        development I hope to become more adept with web technologies.
        <br /><br />
        Overall, this project has taught me how to AngularJS works as I threw myself into using it. I better understand modules, controllers, 
        routing, and services with angular and I am proud at the modular components I have been able to make.
    </span>
    <br />
    
    <b class="header"><a href="http://thomasortiz.me/#/baseConverter" target="_blank">Base Converter</a></b><br />
    <em class="subHeading">Created by Thomas Ortiz. Summer 2016</em><br />
    <span class="indent">
        This small webapp is an extension of my website that I decided to make to gain experience with AngularJS. 
        Often in my classes I would convert between different numeric bases and would often use onulne converters to double check my work.
        This tool was made as a convenience for me so that I am able to quickly navigate to a base converter to quickly check over conversions.
    </span>
    <br />

    <b class="header"><a href="https://github.com/Tdortiz/Research/tree/origin/Anonymizer" target="_blank">Research File Anonymizer</a></b><br />
    <em class="subHeading">Created by Thomas Ortiz. Spring 2016</em><br />
    <span class="indent">
        This java program was developed to quickly anonymize student files by removing identifying information such as email,
        names, and @author tags and replacing them with encrypted ids generated by the research director.
        As the program parses through student files it creates new anonymized files and saves the new files into a directory
        called Anon_Submissions while preserving the old copies of the files.
    </span>
    <br />

    <b class="header"><a href="https://github.com/Tdortiz/Movie_Trivia_App" target="_blank" >Movie Trivia App</a></b><br />
    <em class="subHeading">Created by Thomas Ortiz. Summer 2015</em><br />
    <span class="indent">
        During Java 2 I decided to supplement what I learned by diving in Android development. I decided to adapt a project I was working on
        in the class into an app. This app is intended to test your knowledge of movies. The better that you do the harder the questions become. Are you up to the challenge?
    </span>
    <br />
</p>
</body>

</html>